<div class="row">
  <div id="carousel">
    {{featured-articles article=model}}
  </div>
</div>
<div class="row">
  <div class="articles">
    {{#each model as |article|}}
      {{article-tile article=article}}
    {{/each}}
  </div>
</div>
